<div class="mb-4">
  <p-select
    [appendTo]="'body'"
    [options]="remainingDocumentList()"
    optionLabel="name"
    placeholder="Select Document"
    class="w-full"
    #selectKnowledgeBase
    (onChange)="onChange($event, selectKnowledgeBase)"
  />
</div>

<div class="space-y-2 sm:space-y-3">
  @for (item of documentList(); track $index) {
    @if (assistant()?.knowledgebase?.fileIds?.includes(item.documentId)) {
      <div
        class="bg-card-primary rounded-md border border-primary p-3 sm:p-4 flex flex-col sm:flex-row items-start sm:items-center justify-between gap-2 sm:gap-0"
      >
        <div class="flex gap-2 items-center flex-1 min-w-0">
          <h5 class="text-sm sm:text-base font-medium truncate">
            {{ item.name }}
          </h5>
        </div>
        <div (click)="onDelete(item)" class="cursor-pointer flex-shrink-0">
          <i class="pi pi-trash delete-icon text-base sm:text-lg"></i>
        </div>
      </div>
    }
  }
</div>
