<div [formGroup]="formData" class="flex flex-col gap-3 sm:gap-4">
  <app-input
    [formData]="formData"
    [key]="'name'"
    [label]="'Name'"
    [type]="'text'"
    [placeholder]="'Enter your name'"
  />
  <div class="flex my-2 sm:my-3 gap-2 flex-col">
    <h4 class="text-base sm:text-lg">Select Model</h4>
    <p-select
      [appendTo]="'body'"
      [options]="modelList()"
      [optionLabel]="'name'"
      formControlName="model"
      [ngModel]="assistant()?.model"
      (onChange)="assistantModelChange($event)"
      class="w-full"
    ></p-select>
    @if (formData.get("model")?.errors && formData.get("model")?.touched) {
      <p-message severity="error"> Model is required </p-message>
    }
  </div>
  <div class="flex flex-col gap-2">
    <label for="voice" class="text-sm sm:text-base">Select Voice</label>
    <div
      (click)="openVoiceModal()"
      class="flex bg-primary p-2 sm:p-3 rounded cursor-pointer text-sm sm:text-base"
    >
      {{ assistant()?.voice?.name }}
    </div>
    @if (formData.get("voice")?.errors && formData.get("voice")?.touched) {
      <p-message severity="error"> Voice is required </p-message>
    }
  </div>
</div>
