<div [formGroup]="formData" class="d-flex flex-column gap-2">
  <app-input
    [formData]="formData"
    [key]="'name'"
    [label]="'Name'"
    [type]="'text'"
    [placeholder]="'Enter your name'"
  />
  <div class="d-flex my-3 gap-2 flex-column">
    <h4>Select Model</h4>
    <p-select
      [appendTo]="'body'"
      [options]="modelList()"
      [optionLabel]="'name'"
      formControlName="model"
      [ngModel]="assistant()?.model"
      (onChange)="assistantModelChange($event)"
    ></p-select>
    @if (formData.get("model")?.errors && formData.get("model")?.touched) {
      <p-message severity="error"> Model is required </p-message>
    }
  </div>
  <div class="d-flex flex-column gap-2">
    <label for="voice">Select Voice</label>
    <div
      (click)="openVoiceModal()"
      class="d-flex bg-primary p-2 rounded cursor-pointer"
    >
      {{ assistant()?.voice?.name }}
    </div>
    @if (formData.get("voice")?.errors && formData.get("voice")?.touched) {
      <p-message severity="error"> Voice is required </p-message>
    }
  </div>
</div>
