<div [formGroup]="formData()" class="d-flex flex-column gap-2">
  <label for="name">{{ label() }}</label>
  <input
    [type]="type()"
    pInputText
    class="w-100"
    [placeholder]="placeholder()"
    [formControlName]="key()"
  />
  @if (
    formData().get(key())?.errors?.["required"] &&
    formData().get(key())?.touched
  ) {
    <p-message severity="error"
      >{{ key().charAt(0).toUpperCase() + key().slice(1) }} is
      required</p-message
    >
  } @else if (
    formData().get(key())?.errors?.["email"] && formData().get(key())?.touched
  ) {
    <p-message severity="error">
      {{ key().charAt(0).toUpperCase() + key().slice(1) }} is not valid
    </p-message>
  }
</div>
