<div [formGroup]="formData()" class="flex flex-col gap-2">
  <label for="name" class="text-sm sm:text-base font-medium">{{
    label()
  }}</label>
  <input
    [type]="type()"
    pInputText
    class="w-full text-sm sm:text-base"
    [placeholder]="placeholder()"
    [formControlName]="key()"
  />
  @if (formData().get(key())?.errors && formData().get(key())?.touched) {
    <p-message severity="error">
      @if (formData().get(key())?.errors?.["required"]) {
        {{ key().charAt(0).toUpperCase() + key().slice(1) }} is required
      } @else if (formData().get(key())?.errors?.["email"]) {
        {{ key().charAt(0).toUpperCase() + key().slice(1) }} is not valid
      } @else if (formData().get(key())?.errors?.["minlength"]) {
        {{ key().charAt(0).toUpperCase() + key().slice(1) }} must be at least
        {{ formData().get(key())?.errors?.["minlength"].requiredLength }}
        characters
      } @else if (formData().get(key())?.errors?.["maxlength"]) {
        {{ key().charAt(0).toUpperCase() + key().slice(1) }} must be at most
        {{ formData().get(key())?.errors?.["maxlength"].requiredLength }}
        characters
      }
    </p-message>
  }
</div>
