<div class="flex h-screen flex-col">
  <!-- Sidebar -->
  <app-sidebar class="w-full" style="z-index: 2"></app-sidebar>

  <!-- Main Content Area -->
  @if (loadingService.loading()) {
    <div
      style="z-index: 1000"
      class="flex absolute h-screen w-screen items-center justify-center"
    >
      <p-progress-spinner
        strokeWidth="8"
        fill="transparent"
        animationDuration=".5s"
        [style]="{ width: '50px', height: '50px' }"
      />
    </div>
  }
  <main class="flex items-center w-full justify-center h-full overflow-auto">
    <div class="w-full h-full p-4 sm:p-6 lg:p-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
