<div class="d-flex vh-100 flex-column">
  <!-- Sidebar -->
  <app-sidebar class="w-100" style="z-index: 2"></app-sidebar>

  <!-- Main Content Area -->
  @if (loadingService.loading()) {
    <div
      class="d-flex position-absolute vh-100 vw-100 align-items-center justify-content-center"
    >
      <p-progress-spinner
        strokeWidth="8"
        fill="transparent"
        animationDuration=".5s"
        [style]="{ width: '50px', height: '50px' }"
      />
    </div>
  }
  <main class="d-flex align-items-center w-100 justify-content-center h-100">
    <div class="w-100 h-100">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
