body {
  background-color: unset !important;
}

$danger-color: red;

@mixin cursor-pointer {
  cursor: pointer;
}

.cursor-pointer {
  @include cursor-pointer;
}

.delete-icon {
  @include cursor-pointer;
  color: $danger-color;
}
